<extend name="public/public">

<block name="body">
  <!-- <blockquote class="layui-elem-quote">而这里是管理员页面！</blockquote> -->

  <fieldset class="layui-elem-field layui-field-title">
    <legend>管理员页面</legend>
  </fieldset>

  <table id="data_table"></table>

</block>

<block name="script">
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#data_table'
    ,url: "{:url('admin/adminJson')}" //数据接口
    ,page: true //开启分页
    ,limit: 3
    ,limits: [3,5,7,10,15]
    ,cols: [[ //表头
      {type:'checkbox'}
      ,{field: 'admin_id', title: '管理员ID', width: 100, fixed: 'left', sort: true}
      ,{field: 'user_name', title: '用户名', width: 300}
      ,{field: 'email', title: '邮箱', width: 500}
      ,{field: 'add_time', title: '加入时间', width: 200} 
    ]]
  });
});
</script>
</block>
