<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="__ROOT__/plugins/layui/css/layui.css" media="all">
</head>

<body>

    <table class="layui-table" lay-data="{height:315, url:'table.json', page:true, id:'test',height: 'full-25'}" lay-filter="test" id="test">
        <thead>
            <tr>
                <th lay-data="{field:'id', width:80}">多选</th>
                <th lay-data="{field:'id', width:80}">ID</th>
                <th lay-data="{field:'username', width:160}">用户名</th>
                <th lay-data="{field:'sex', width:160}">所属角色</th>
                <th lay-data="{field:'city', width:160}">Email地址</th> 
                <th lay-data="{field:'sign', width:160}">加入时间</th>
                <th lay-data="{field:'experience', width:80}">操作</th>
            </tr>
        </thead>
    </table>

    <script src="__ROOT__/plugins/layui/layui.js"></script>
    <script>
        layui.use('table', function() {
            var table = layui.table;
        });
    </script>
</body>

</html>

<!-- 
<form action="" method="post">
    <input type="text" name="keyword">
    <button type="submit">提交啦！</button>
</form>

<table border="1px solid black;">
    <thead>
        <tr>
            <th class="sign">
                <div style="width: 24px;"><i class="ico-check"></i></div>
            </th>
            <th align="left">
                <div>ID</div>
            </th>
            <th align="left">
                <div>用户名</div>
            </th>
            <th align="center">
                <div>所属角色</div>
            </th>
            <th align="center">
                <div>Email地址</div>
            </th>
            <th align="center">
                <div>加入时间</div>
            </th>
            <th align="center" class="handle">
                <div>操作</div>
            </th>
        </tr>
    </thead>
    <tbody>
        {volist name="list" id="vo"}
        <tr>
            <td><i class="ico-check"></i></td>
            <td>{$vo.admin_id}</td>
            <td>{$vo.user_name}</td>
            <td>{$vo.role}</td>
            <td>{$vo.email}</td>
            <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
            <td>增删改查</td>
        </tr>
        {/volist}
    </tbody>
</table> -->