<extend name="public/public">
<block name="body">
	<form method="post" class="layui-form" id="admin_form" action="">
		<div class="layui-form-item">
		    <label class="layui-form-label">原密码：</label>
		    <div class="layui-input-inline">
		      	<input type="password" name="oldPwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">新密码：</label>
		    <div class="layui-input-inline">
		      	<input type="password" name="newPwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">确认密码：</label>
		    <div class="layui-input-inline">
		      	<input type="password" name="newPwdCheck" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux"></div>
		</div>
	    <div class="layui-form-item" style="margin-top: 30px">
		    <div class="layui-input-block">
		      	<a href="javascript:;" class="layui-btn" id="submitBtn">立即提交</a>
		      	<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script>
		layui.use(['jquery','form'], function(){
		  var form = layui.form;
		  var $ = layui.$;
		  console.log('test');

		  form.on('submit(formDemo)', function(data){
		    layer.msg(JSON.stringify(data.field));
		    return false;
		  });
		});
	</script>
</block>