<thead>
  <tr>
    <th><input type="checkbox" class="check-all"></th>
    <th>订单编号</th>
    <th>商品名称</th>
    <th>类型</th>
    <th>申请日期</th>
    <th>状态</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td><input type="checkbox" class="ids" name="ids[]"></td>
      <td>{$item.order_sn}</td>
      <td>{$item.orderGoods.goods_name}</td>
      <td>{$item.type}</td>
      <td>{$item.addtime}</td>
      <td>{$item.status}</td>

      <td>
        <a href="{:url('info', array('id' => $item['id']))}" class="layui-btn layui-btn-xs">
          详情
        </a>
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('setStatus',array('status'=>'delete','model'=>'ReturnGoods','ids'=>$item['id']))}" data-tips="您确定要删除？">
          删除
        </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>