<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="__ROOT__/plugins/layui/css/layui.css" media="all">
  <script src="__ROOT__/plugins/layui/layui.js"></script>
  <script src="__ROOT__/static/js/common.js"></script>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <!-- header 顶栏 -->
    <include file="public/header">

    <!-- side 侧栏 -->
    <include file="public/side">

    <!-- body 内容主体区域 -->
    <div class="layui-body" id="container">
      <div style="padding: 15px;">
        <block name="body"></block>
      </div>
    </div>
    
    <!-- footer 底栏 -->
    <include file="public/footer">

  </div>

<script>
  layui.use(['jquery','layer','element'], function(){
    var $ = layui.$
    ,layer =  layui.layer
    ,element = layui.element;

     //修改密码
    $('#pwd').click('on',function(){
       $.ajax({
        url:"{:url('Base/pwdAjax')}",
        success: function(msg){  
          layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['420px', '320px'], //宽高
            content: msg,
          });       
        } 
       })
    });
    //注销
    $('#logout').click('on',function(){
      $.ajax({
          url:"{:url('Admin/logout')}",
          type:"POST",
          success:function(res){  
            layer.confirm('确定要注销么？', {
              btn: ['是的','算了'] //按钮
            }, function(){
              layer.msg(res.msg, {icon: 1});
              window.location.href = res.url;
            });
          }  
      });
      return false; 
    });
  });
</script>

</body>

</html>