<div class="layui-header">
  <div class="layui-logo">B2C商城后台管理系统</div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <ul class="layui-nav layui-layout-left">
    <volist name="top" id="vo">
      <li class="layui-nav-item">
        <a href=""><i class="layui-icon">{$vo.icon}</i>{$vo.title}</a>
      </li>
    </volist>
    <li class="layui-nav-item">
      <a href="javascript:;">其它系统</a>
      <dl class="layui-nav-child">
        <dd><a href="">邮件管理</a></dd>
        <dd><a href="">消息管理</a></dd>
        <dd><a href="">授权管理</a></dd>
      </dl>
    </li>
  </ul>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        {:session('user_name')}
      </a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;" id="pwd">修改密码</dd>
        <dd><a href="javascript:;" id="cache">清空缓存</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a href="javascript:;" id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
  </ul>
</div>
