<thead>
  <tr>
    <th><input type="checkbox" onclick="checkAll(this)"></th>
    <th>角色名称</th>
    <th>描述</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td id="check_item"><input type="checkbox"></td>
      <td>{$item.role_name}</td>
      <td>{$item.role_desc}</td>
      <td>
          <!-- <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-primary">
            查看
          </a> -->
          <a href="{:url('roleInfo', ['role_id'=>$item.role_id])}" class="layui-btn layui-btn-xs" >
            编辑
          </a>
          <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('setStatus',array('status'=>'delete','model'=>'Role','ids'=>$item['id']))}" data-tips="您确定要删除？">
            删除
          </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>

<script type="text/javascript">
  function checkAll(obj){
    var $ = layui.jquery;
    $("#check_item input[type='checkbox']").prop('checked', $(obj).prop('checked'));
  }
</script>