<extend name="public/base">

<block name="body">
<!-- 页面标题 -->
<fieldset class="layui-elem-field layui-field-title">
  <legend>权限管理</legend>
</fieldset>

<!-- 搜索表单 -->
<form class="layui-form layui-form-pane keyword"> 
  <div class="layui-form-item"> 
    <div class="layui-inline"> 
      <label class="layui-form-label">搜索</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="keyword" autocomplete="off" class="layui-input" placeholder="可根据名称/描述查询" > 
      </div> 
    </div>
    <div class="layui-inline"> 
      <type type="button" class="layui-btn" id="keyword">查询</button>
    </div>
  </div> 
</form>

<!-- 批量操作按钮 -->
<div class="layui-btn-group">
  <a href="{:url('info')}">
    <button class="layui-btn">
      <i class="layui-icon">&#xe654;</i>新增
    </button>
  </a>
</div> 

<!-- 数据表格 -->
<table class="layui-table" data-url="{:url('')}" style="word-wrap:break-word; word-break:break-all;"></table>
<!-- 分页 -->
<div id="page" style="text-align: center;"></div>
</block>

