<thead>
  <tr>
    <th><input type="checkbox" class="check-all"></th>
    <th>标题</th>
    <th> URL</th>
    <th>状态</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td><input type="checkbox" class="ids" name="ids[]"></td>
      <td>{$item.title_show}</td>
      <td>{$item.name}</td>
      <td>
        <switch name="item.status">
          <case value="0">不可见</case>
          <case value="1">可见</case>
          <default /><i>未知</i>
        </switch>
      </td>
      <td>
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary">
          查看
        </a>
        <a href="{:url('menuInfo',array('id'=>$item.id))}" class="layui-btn layui-btn-xs">
          编辑
        </a>
        <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('delete',['id' => $item['id']])}" data-tips="您确定要删除？">
          删除
        </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>