<thead>
  <tr>
    <th>会员昵称</th>
    <th>邮件</th>
    <th>手机号</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td>{$item.nickname}</td>
      <td>{$item.email}</td>
      <td>{$item.mobile}</td>
      <td>
          <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-primary">
            查看
          </a>
          <a href="javascript:" class="layui-btn layui-btn-xs">
            编辑
          </a>
          <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('delete',['user_id' => $item['user_id']])}"data-tips="您确定要删除？">
            删除
          </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>