<extend name="public/base">

<block name="body">
<fieldset class="layui-elem-field layui-field-title">
  <legend>会员管理</legend>
</fieldset>

<form class="layui-form layui-form-pane keyword"> 
  <div class="layui-form-item"> 
    <div class="layui-inline"> 
      <label class="layui-form-label">昵称</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="nickname" autocomplete="off" class="layui-input" placeholder="请输入昵称" > 
      </div> 
    </div> 
    <div class="layui-inline"> 
      <label class="layui-form-label">手机号</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="mobile" 
          autocomplete="off" placeholder="请输入许手机号" class="layui-input">
      </div> 
    </div> 
    <div class="layui-inline"> 
      <type type="button" class="layui-btn" id="keyword">查询</button>
    </div>
  </div> 
</form>
<div class="layui-btn-group">
  <button class="layui-btn lay-get-html" data-url="{:url('edit')}">
    <i class="layui-icon">&#xe654;</i>新增
  </button>
  <button class="layui-btn">
    <i class="layui-icon">&#xe640;</i>删除
  </button>
</div> 
<table class="layui-table" data-url="{:url('')}">
</table>
<div id="page" style="text-align: center;"></div>
<block name='script'>
</block>
</block>
