<extend name="public/public">

<block name="body">
<!-- <form class="layui-form keyword">
  <div class="layui-inline">
    <label class="layui-form-label">输入框</label>
    <div class="layui-input-block">
      <input type="text" name="nickname" placeholder="请输入标题" class="layui-input">
    </div>
  </div>
  <div class="layui-inline">
    <div class="layui-input-block">
      <input type="button" class="layui-btn" id="keyword" value="搜索">
    </div>
  </div>
</form> -->
<table class="layui-table" data-count="{$count}" data-url="{:url('')}">
</table>
<div id="page" style="text-align: center;"></div>
<block name='script'>
</block>
</block>
