<thead>
  <tr>
    <th>头衔名称</th>
    <th>等级必要金额</th>
    <th>折扣</th>
    <th>描述</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td>{$item.level_name}</td>
      <td>{$item.amount}</td>
      <td>{$item.discount}</td>
      <td>{$item.describe}</td>
      <td>
          <!-- <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-primary">
            查看
          </a> -->
          <a href="{:url('levelInfo', ['level_id' => $item['level_id']])}" class="layui-btn layui-btn-xs">
            编辑
          </a>
          <a href="javascript:" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('setStatus',array('status'=>'delete','model'=>'UserLevel','ids'=>$item['id']))}" data-tips="您确定要删除？">
            删除
          </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>