<extend name="public/base">

<block name="body">
<fieldset class="layui-elem-field layui-field-title">
  <legend>会员等级管理</legend>
</fieldset>

<form class="layui-form layui-form-pane keyword"> 
  <div class="layui-form-item"> 
    <div class="layui-inline"> 
      <label class="layui-form-label">搜索</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="keyword" autocomplete="off" class="layui-input" placeholder="可根据等级名称/描述查询" > 
      </div> 
    </div>
    <div class="layui-inline"> 
      <type type="button" class="layui-btn" id="keyword">查询</button>
    </div>
  </div> 
</form>
<div class="layui-btn-group">
  <button class="layui-btn" onclick="javascript:window.location='{:url(\'levelInfo\')}'">
    <i class="layui-icon">&#xe654;</i>新增
  </button>
  <!-- <button class="layui-btn">
    <i class="layui-icon">&#xe640;</i>删除
  </button> -->
</div> 
<table class="layui-table" data-url="{:url('')}">
</table>
<div id="page" style="text-align: center;"></div>
<block name='script'>
</block>
</block>
