<thead>
  <tr>
    <th>订单编号</th>
    <th>下单时间</th>
    <th>收货人</th>
    <th>联系电话</th>
    <th>所选物流</th>
    <th>物流费用</th>
    <th>支付时间</th>
    <th>订单总价</th>
    <th>操作</th>
  </tr> 
</thead>
<tbody>
  <volist name="list" id="item">
    <tr>
      <td>{$item.order_sn}</td>
      <td>{$item.order.add_time}</td>
      <td>{$item.consignee}</td>
      <td>{$item.mobile}</td>
      <td>{$item.shipping_name}</td>
      <td>{$item.shipping_price}</td>
      <td>{$item.order.pay_time}</td>
      <td>{$item.order.total_amount}</td>
      

      <td>
        <a href="{:url('')}" class="layui-btn layui-btn-xs">
          查看
        </a>
        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger dialogue" data-url="{:url('delete',['order_id' => $item['order_id']])}" data-tips="您确定要删除？">
          删除
        </a>
        <div class="layui-btn-group">
        </div>
      </td>
    </tr>
  </volist>
</tbody>