<extend name="public/base">

<block name="body">

<fieldset class="layui-elem-field layui-field-title">
<legend>
  <!-- 返回列表按钮 -->
  <button class="layui-btn layui-btn-radius layui-btn-primary" onclick="javascript:window.location='{:url(\'index\')}'"><i class="layui-icon">&#xe65c;</i></button>
    订单详情信息
</legend> 
</fieldset>
  <div class="layui-form-item layui-col-xs8 layui-col-sm8 layui-col-md8" style="border: 1px solid lightblue;">
    <div class="layui-col-md1">1</div>
    <div class="layui-col-md1">1</div>
    <div class="layui-col-md1">1</div>

</block>